form{
    display: block;
    background-color: #01031e;
    margin: 45px auto;
    max-width: 600px;
    max-height: 700px;
    padding: 20px 40px;
    color: aliceblue;
}
form input, textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    padding: 8px;
    background-color: white;
    border: 1px solid #01042f;
}
form button{
   height: 30px;
   width: 100px;
   align-items: center;
   border: none;
   color: white;
   border: 1px solid white;
   background: radial-gradient(circle at 3% 25%, rgb(15, 16, 83) 0%, rgb(17, 17, 17) 100%);
}